/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

node_modules/

Gemfile.lock
/gemfiles/*.gemfile.lock
/gemfiles/.bundle/

/test/reports/
/test/tmp/
/test/dummy/tmp/*
!/test/dummy/tmp/.keep
/test/dummy/log/*
!/test/dummy/log/.keep
/test/dummy/storage/*
!/test/dummy/storage/.keep
