<%# Containers for primary-only selection testing %>
<div id="primA" data-flash-message-container data-flash-primary></div>
<div id="primB" data-flash-message-container data-flash-primary="true"></div>
<div id="nonPrim" data-flash-message-container></div>

<%# Include server-embedded storage so messages can be rendered %>
<%= flash_storage %>
